* {
	margin: 0;
	padding: 0;
}

html, body {
	width: 100%;
	height: 100%;
	
	background: white;
	min-width: 600px;
	overflow: hidden;
}

.fl {
	float: left;
}

.fr {
	float: right;
}

.rp {
	position: relative;
}

.ap {
	position: absolute;
}

ul {
	list-style-type: none;
	padding-left: 0;
	margin: 0;
}

li {
	cursor: pointer;
}

/* 宸﹀彸閮ㄥ垎鍏卞悓灞炴�� */
#left-part .menu .menu-list .list div, #left-part .menu-list li span,
	#right-part .right-head .right-head-nav-list li:first-child img,
	#right-part .right-head .right-head-nav-list li:nth-child(2),
	#right-part .right-head .right-head-nav-list li:nth-child(3) img,
	#right-part .right-head .right-head-nav-list li:last-child {
	vertical-align: middle;
}

#left-part, #right-part .right-head-nav .alert-window {
	background: #698b69;
}

#left-part .menu-list li:hover, #right-part .right-head-nav .alert-window li:hover
	{
	color: white;
}

#left-part, #right-part .right-head-nav .alert-window {
	color: white;
}

#left-part .menu-list ul, #right-part .right-head-nav .alert-window,
	#right-part .right-content-bg .right-content {
	display: none;
}

#right-part .right-content-bg .right-content.active {
	display: block;
}

#right-part .right-content-title, #right-part  .right-content-part {
	background: #e6e5e9;
}

#right-part .right-content-title, #right-part .right-head-nav .alert-window
	{
	text-align: center;
}

/* 宸﹁竟閮ㄥ垎 */
#left-part {
	height: 800px;
}

#left-part img {
	width: 250px;
	height: 100px;
}

#left-part .menu .menu-list li {
	margin: 20px 0 0 30px;
	width: 150px;
}

#left-part .menu .menu-list .list div {
	width: 30px;
	height: 30px;
	margin-right: 10px;
	display: inline-block;
	/* background:url("images/all.png")  no-repeat;*/
}

#left-part .menu .menu-list .list .img1 {
	background-position: 0 0;
}

#left-part .menu .menu-list .list .img2 {
	background-position: -30px 0;
}

#left-part .menu .menu-list .list .img3 {
	background-position: -60px 0;
}

#left-part .menu .menu-list .list .img4 {
	background-position: -91px 0;
}

/* 鍙宠竟閮ㄥ垎 */
#right-part {
	color: white;
	margin-left: 250px;
}
/* 鍙宠竟澶撮儴 */
#right-part .right-head {
	height: 70px;
	background-color:#698b69;
	border-bottom: 2px solid #b4b4b4;
	box-shadow: 5px 0 5px #b4b4b4;
}

#right-part .right-head .right-head-nav-list {
	width: 200px;
	height: 50px;
	margin: 8px 20px 0 0;
}

#right-part .right-head .right-head-nav-list li {
	display: inline;
}

#right-part .right-head .right-head-nav-list li:first-child img {
	width: 50px;
	height: 50px;
	border-radius: 50%;
}

#right-part .right-head .right-head-nav-list li:nth-child(3) img {
	width: 30px;
	height: 30px;
}

#right-part .right-head .right-head-nav-list li:last-child {
	border-left: 2px solid #b4b4b4;
	padding-left: 10px;
}
/* 鍙宠竟鍐呭 */
#right-part .right-content-title {
	width: 100px;
	height: 30px;
	line-height: 30px;
}

#right-part .right-content-title img {
	width: 10px;
	height: 10px;
}

#right-part .right-content-part {
	height: 680px;
}

/* 浜岀骇鑿滃崟 */
#left-part .menu-list  ul {
	margin-left: 50px;
}

/* 寮圭獥 */
#right-part .right-head-nav .alert-window {
	top: 45px;
	z-index: 9999;
	width: 200px;
	height: 100px;
	line-height: 50px;
}

.list-one {
	width: 210px !important;
}